@model WebApi.Models.CustomerProfileViewModel

<style>
    table {
        table-layout: fixed;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 10px;
        overflow: hidden;
    }

    th,
    td {
        overflow: hidden;
        text-overflow: ellipsis;
        color: white;
    }

    .customer-name {
        color: #28a745; /* Green color for customer name */
    }
</style>

<div class="container mt-5">
    <!-- Customer Table -->
    <table class="table table-striped table-dark">
        <thead>
        <tr>
            <th scope="col">Adı</th>
            <th scope="col">Soyadı</th> 
            <th scope="col">Telefon</th>        

        
        </tr>
        </thead>
        <tbody>
        @if (Model != null && Model.Customer != null)
        {
            <tr>
                <td class="customer-name">@Model.Customer.Name</td>
                <td class="customer-name">@Model.Customer.Surname</td>
                <td class="customer-name">@Model.Customer.PhoneNumber</td>
            </tr>
        }
        </tbody>
    </table>
</div>

<div class="container mt-5">
    <!-- Comments Table -->
    <div class="container mt-5">
        <!-- Comments Table -->
        @if (Model.Comments != null && Model.Comments.Any())
        {
            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th scope="col">Yorumlar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var comment in Model.Comments)
                    {
                        <tr>
                            <td>@comment.Text</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>Yorum Yok</p>
        }
    </div>

    @if (Model.Orders != null && Model.Orders.Any())
        {
            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th scope="col">Ürünler</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in Model.Orders)
                    {
                        <tr>
                            <td>@order.Product.ProductName</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>Henüz ürün almamış</p>
        }
</div>

@{
    Layout = "_Layout";
}