@using Newtonsoft.Json
@model List<WebApi.Models.Product>

@{
    Layout = "_Layout";
}

<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <canvas id="myChart" style="max-width: 800px; max-height: 430px; margin-right: 20px;"></canvas>
    <canvas id="pieChart" style="max-width: 400px; max-height: 400px;"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const barCtx = document.getElementById('myChart');
    const pieCtx = document.getElementById('pieChart');

    // Data for the bar chart
    const barLabels = @Html.Raw(JsonConvert.SerializeObject(Model.Select(p => p.ProductName)));
    const prices = @Html.Raw(JsonConvert.SerializeObject(Model.Select(p => p.Price)));
    const salesAmounts = @Html.Raw(JsonConvert.SerializeObject(Model.Select(p => p.SalesAmount)));

    // Calculate earnings for each product
    const earn = prices.map((price, index) => price * salesAmounts[index]);

    // Data for the doughnut chart
    const pieLabels = @Html.Raw(JsonConvert.SerializeObject(Model.Select(p => p.ProductName)));
    const pieData = @Html.Raw(JsonConvert.SerializeObject(Model.Select(p => p.SalesAmount)));
    const pieColors = ['#164863', '#427D9D', '#9BBEC8', '#DDF2FD', '#FFC436', '#363062', '#A7D397'];

    // Create the dual-axis bar chart
    new Chart(barCtx, {
        type: 'bar',
        data: {
            labels: barLabels,
            datasets: [
                {
                    label: 'Fiyat',
                    data: prices,
                    backgroundColor:'rgba(54, 162, 235, 0.2)',
                    yAxisID: 'y1',
                    borderWidth: 1,
                    borderColor: 'rgb(54, 162, 235)',
                },
                {
                    label: 'Satış ',
                    data: salesAmounts,
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    yAxisID: 'y2',
                    borderWidth: 1,
                    borderColor: 'rgba(255, 99, 132)',
                 
                },
                {
                    label: 'Kazanç ',
                    data: earn,
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    yAxisID: 'y3',
                    borderWidth: 1,
                    borderColor: 'rgba(75, 192, 192)'
                }
            ]
        },
        options: {
            scales: {
                y1: {
                    type: 'linear',
                    position: 'left',
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Fiyat'
                    }
                },
                y2: {
                    type: 'linear',
                    position: 'right',
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Satış Miktarı'
                    }
                },
                y3: {
                    type: 'linear',
                    position: 'right',
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Kazanç'
                    }
                }
            }
        }
    });

    // Create the doughnut chart
    new Chart(pieCtx, {
        type: 'doughnut',
        data: {
            labels: pieLabels,
            datasets: [{
                data: pieData,
                backgroundColor: pieColors,
                borderWidth: 1
            }]
        }
    });
</script>
