@{
    Layout = "_Layout";
}
@model List<WebApi.Models.Product>
@using Microsoft.AspNetCore.Mvc

<style>
    table {
        table-layout: fixed;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 10px;
        overflow: hidden;
        color: white;
    }

    th, td {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 10px;
        vertical-align: middle; /* Vertical alignment added */

    }

    .actions-column {
        width: 150px; 
    }

    .btn-group {
        margin: 0;
    }

    .btn {
        border-radius: 5px;
        margin-right: 5px;
    }

    .btn-success {
        margin-top: 10px;
    }

    .image-column {
        max-width: 50px; /* Adjust max-width for the image column */
        overflow: hidden;
    }

    .image-column img {
        width: 50%;
        height: auto;
    }
</style>

<div class="container mt-5">
    <table class="table table-striped table-dark">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col" class="image-column">Görsel</th>
            <th scope="col">Ürün Adı</th>
            <th scope="col">Fiyat</th>
            <th scope="col">Yıldız</th>
            <th scope="col">Satış Miktarı</th>
            <th scope="col">Kategori</th>
            <th scope="col" class="actions-column">Actions</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <th scope="row">@product.ProductID</th>
                    <td class="image-column">
                        <img src="@product.imgUrl" />
                    </td>
                    <td>@product.ProductName</td>
                    <td>@product.Price</td>
                    <td>@product.Stars</td>
                    <td>@product.SalesAmount</td>
                    <td>@product.Category</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Product Actions">
                            <form method="post" action="@Url.Action("DeleteOneProduct", "Product")">
                                <input type="hidden" name="id" value="@product.ProductID" />
                                <button type="submit" class="btn btn-danger btn-sm text-white" title="Delete">
                                    <i class="fas fa-trash-alt"></i> Sil
                                </button>
                            </form>
                            <form method="post" action="@Url.Action("GetProfile", "Product")">
                                <input type="hidden" name="id" value="@product.ProductID" />
                                <button type="submit" class="btn btn-info btn-sm text-white" title="Profile">
                                    <i class="fa-solid fa-magnifying-glass"></i> Ayrıntı
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="btn btn-success float-right text-right mt-3">
        <i class='fas fa-plus'></i>
        @Html.ActionLink(" Yeni Ürün Ekle", "CreateProductPage", "Product", null, new { style = "color: white; text-decoration: none;" })
    </div>
</div>
